@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat' ,sans-serif;
    font-size: 10px;
}

body{
    background-color: #DBE2E9;

}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin:2% auto;
}

.header h1{
    font-family: 'Caveat', cursive;
    font-size: 1.5vw !important;
    display: flex;
    gap:7px;
    align-items: center;
}
 svg{
    color: #690085;
}


.forms{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: right;
    gap:0 !important;
}

.search{
    padding: 2%;
    width: 50%;
    
    display: none;
    justify-content: right;
    animation: showsearch 2s ease 0s 1 normal forwards;

}


.search .submit-btn{
    border:none;
    background-color:transparent

}

.submit-btn svg{
    font-size: 20px;
}

.search input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #690085;
    background-color: transparent;
    outline: none;
    font-size: 1vw;
    width: 70%;
    padding: 1% 0;

}
.filter{
    width: 50%;
    padding: 2%;
    display: none;
    gap: 10px;
}

.filter select{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    outline: none;
    font-size: 1vw;
    border-bottom: 2px solid #690085;
    width: 70%;
    padding: 1% 0;
}

.filter button{
    padding: 2% 10%;
    border: 1px solid #690085;
    background-color: transparent;
}

.search-icons{
    gap: 15px;
    display: flex;
    

}

.search-icon svg ,.filter-icon svg{
    font-size: 20px;

}


@keyframes showsearch {
	0% {
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}
.show-search{
    display: block;
}

.show-filter{
    display: flex;
}