{% extends 'gallery/base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'gallery/home.css' %}">
{% endblock %}
{% block content %}
<div>
    

    <section>
        <div class="container">
          <div class="header">
            <h1 class="logo">PhotoGallery</h1>
            <form role="search" action="{% url 'search-results' %}">
             

              <input type="text" placeholder="Search Images" name="category"/>
              <button type="submit">search</button>
            </form>
          </div>
  
           <div class="gallery">
            {% for image in images %}
               <div class="item">
                <a href="{{image.image.url}}" target="_blank">
                    <img  src="{{image.image.url}}">
                    </a>
                    <h3>{{image.name}}</h3>
               </div>
               {% endfor %}
            </div>
          
        </div>
      </section>

        
</div>



{% endblock %}