{% extends 'gallery/base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'gallery/css/home.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    {% if images %}

    {% if length < 2 %}
    <div class="category">
        {% for image in images %}
           <div class="less-3">
                <img  src="{{image.image.url}}">
            </div>
                <h3>{{image.name}}</h3>
           </div>
           {% endfor %}
        </div>

    {% else %}
    <div class="gallery">
        {% for image in images %}
            <div class="item" data-toggle="modal" data-target="#modal{{image.id}}">
            <div>
                <img src="{{image.image.url}}" alt="{{image.name}}">
            </div>
                <h3>{{image.name}}</h3>  
           </div>
             
              <div class="modal fade" id="modal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{image.image.url}}" alt="{{image.name}}">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

           {% endfor %}
    </div>

    {% endif %}

    {% else %}
      <p class="not-found">No images</p>

    {% endif %}
  
 
</div>




{% block scripts %}

<script src="{% static 'gallery/js/modal.js'%}"></script>

{% endblock %}

{% endblock %}}